# Supabase Database Direct / Transaction Pooler Connection String
DATABASE_URL=postgresql://postgres.[project-ref]:[password]@aws-0-[region].pooler.supabase.com:6543/postgres

# Optional Supabase REST API & Keys (when using @supabase/supabase-js for client-side Auth/Storage/Realtime)
SUPABASE_URL=https://[project-ref].supabase.co
SUPABASE_KEY=
NEXT_PUBLIC_SUPABASE_URL=https://[project-ref].supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
